In [1]:
import pandas as pd

# Files to Load
file1 = "resources/steam-200k.csv"
file2 = "resources/vgsales-12-4-2019-short.csv"

# Read and store into Pandas data frame
steam_data = pd.read_csv(file1)
sales_data = pd.read_csv(file2)

In [2]:
#Data Cleaning
steam_data=steam_data.dropna(how="any").drop(columns=["Unnamed: 4"])
steam_data=steam_data.loc[(steam_data["pur_play"])=="play",:]
steam_data=steam_data.drop(columns=["pur_play"]).rename(columns={"stat": "Hours"})    
steam_data

           UserId                        Game  Hours
1       151603712  The Elder Scrolls V Skyrim  273.0
3       151603712                   Fallout 4   87.0
5       151603712                       Spore   14.9
7       151603712           Fallout New Vegas   12.1
9       151603712               Left 4 Dead 2    8.9
...           ...                         ...    ...
199991  128470551                Fallen Earth    2.4
199993  128470551                 Magic Duels    2.2
199995  128470551                 Titan Souls    1.5
199997  128470551  Grand Theft Auto Vice City    1.5
199999  128470551                        RUSH    1.4

[70489 rows x 3 columns]

In [3]:
# Grouping by game, number of players, total hours played, 
# and percent of users that play the game (of the dataset sample size)
group=steam_data.groupby("Game")
group_steam=pd.DataFrame({"Players":group.UserId.count(),"Hours":group.Hours.sum()})
group_steam["Percent Play"]=group_steam["Players"]/len(steam_data.UserId.value_counts())
group_steam

,Players,Hours,Percent Play
Game,,,
007 Legends,1,0.7,0.000088
0RBITALIS,3,1.2,0.000264
1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby),5,20.0,0.000441
10 Second Ninja,2,5.9,0.000176
"10,000,000",1,3.6,0.000088
...,...,...,...
rymdkapsel,1,1.1,0.000088
sZone-Online,58,56.7,0.005110
the static speaks my name,8,2.0,0.000705
theHunter,124,309.2,0.010925
theHunter Primal,4,85.9,0.000352

In [4]:
# file 2 cleaning (should drop more columns after discussing)
sales_data=sales_data.loc[(sales_data["Platform"])=="PC",:]
sales_data=sales_data.rename(columns={"Name": "Game"})
sales_data

,Rank,Game,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Global_Sales,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year
3,4,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,NaN,NaN,NaN,NaN,NaN,2017.0
9,10,Minecraft,Misc,NaN,PC,Mojang,Mojang AB,10.0,NaN,30.01,NaN,NaN,NaN,NaN,NaN,2010.0
22,23,Garry's Mod,Misc,NaN,PC,Unknown,Team Garry,NaN,NaN,18.58,NaN,NaN,NaN,NaN,NaN,2004.0
36,37,Counter-Strike: Source,Shooter,M,PC,VU Games,Valve Software,9.3,NaN,15.00,NaN,NaN,NaN,NaN,NaN,2004.0
55,56,Portal 2,Shooter,E10,PC,Valve,Valve Software,9.7,NaN,13.06,NaN,NaN,NaN,NaN,NaN,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55779,55780,Zoo Tycoon: Ultimate Animal Collection,Simulation,E,PC,THQ Nordic,Frontier Developments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0
55782,55783,Ion Maiden,Shooter,NaN,PC,3D Realms,Voidpoint,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55786,55787,In the Valley of Gods,Adventure,NaN,PC,Campo Santo,Campo Santo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55787,55788,Indivisible,Role-Playing,NaN,PC,505 Games,Lab Zero Games,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55788,55789,Lost Ember,Adventure,RP,PC,Mooneye Studios,Mooneye Studios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0

In [5]:
# merging files on game (need to drop rows with NaN value on players / hours)
pd.merge(group_steam,sales_data,on='Game',how='outer')

,Game,Players,Hours,Percent Play,Rank,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Global_Sales,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year
0,007 Legends,1.0,0.7,0.000088,20216.0,Shooter,T,PC,Activision,Eurocom,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,2012.0
1,0RBITALIS,3.0,1.2,0.000264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1... 2... 3... KICK IT! (Drop That Beat Like a...,5.0,20.0,0.000441,9199.0,Misc,NaN,PC,Dejobaan Games,Dejobaan Games,NaN,NaN,0.19,NaN,NaN,NaN,NaN,NaN,2011.0
3,10 Second Ninja,2.0,5.9,0.000176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"10,000,000",1.0,3.6,0.000088,52595.0,Puzzle,NaN,PC,Unknown,EightyEightGames,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13217,Zoo Tycoon: Ultimate Animal Collection,NaN,NaN,NaN,55780.0,Simulation,E,PC,THQ Nordic,Frontier Developments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0
13218,Ion Maiden,NaN,NaN,NaN,55783.0,Shooter,NaN,PC,3D Realms,Voidpoint,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
13219,In the Valley of Gods,NaN,NaN,NaN,55787.0,Adventure,NaN,PC,Campo Santo,Campo Santo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
13220,Indivisible,NaN,NaN,NaN,55788.0,Role-Playing,NaN,PC,505 Games,Lab Zero Games,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
13221,Lost Ember,NaN,NaN,NaN,55789.0,Adventure,RP,PC,Mooneye Studios,Mooneye Studios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0